#zone_text{
    position: absolute ;
    left: 48% ;
    top: 20% ;
    width: 38.5% ;
}


/* border: solid #333 ; */
html{
    font-size: 100% ;
}
* {
    padding: 0px ;
    margin: 0px ;
}
body{
    background-color: #fff ;
    font-size: .8em ;
}

#image{
    position: absolute;
    left: 4% ;
    right: 52% ;
    top: 24.54% ;
    height: 50% ;
    
    background: url(images/Scarecrow.png) no-repeat center ;
    background-size: contain ;
}

header h1:nth-child(odd){
    position: absolute ;
    left: 5.35% ;
    top: 3.70% ;
    
    font-family: 'Inconsolata', sans-serif ;
    text-transform: uppercase ;
    font-weight: bold ;
    font-size: 24px ;
    line-height: 25px ;
    letter-spacing: -0.08em ;
    color: #FFF ;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #333 ;
}
header h1:nth-child(even){
    position: absolute ;
    left: 5.35% ;
    top: 10% ;
    
    font-family: 'Inconsolata', sans-serif ;
    text-transform: uppercase ;
    font-weight: bold ;
    font-size: 24px ;
    line-height: 25px ;
    letter-spacing: -0.08em ;
    color: #333 ;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: #FFF ;
}

div h2{
    position: relative ;
    
    font-family: 'Space Mono', monospace ;
    font-size: 55px ;
    line-height: 75px ;
    letter-spacing: -0.035em ;
    color: #333 ;
}

div p{
    position: relative ;
    margin-bottom: 7% ;
    margin-top: 4% ;
    width: 90% ;
    
    font-family: 'Space Mono', monospace ;
    font-size: 20px ;
    font-weight: normal ;
    line-height: 36px ;
    letter-spacing: -0.035em ;
    color: #4F4F4F ;
}

div a{
    position: relative ;
    top: 23px ;
    
    width: 130px ;
    height: 68px ;
        
    padding: 23px 43px ;
    
    font-family: 'Space Mono', monospace ;
    text-transform: uppercase ;
    text-decoration: none ;
    font-size: 14px ;
    font-weight: bold ;
    line-height: 21px ;
    line-height: normal ;
    letter-spacing: -0.033em ;
    color: #FFF ;
    background-color: #333 ;
    
    animation-name: color-translate ;
    animation-duration: 3s ;
    animation-timing-function: ease-in-out ;
    animation-delay: 0s ;
    animation-iteration-count: infinite ;
    animation-direction: alternate ;
}

footer{
    position: absolute;
    top: 94.81% ;
    width: 100% ;
    height: 3.89% ;
}
footer p{
    width: 300px ;
    height: 17px ;
    margin-left: auto ;
    margin-right: auto ;
    
    font-family: 'Montserrat', sans-serif ;
    font-weight: 600 ;
    font-size: 14px ;
    line-height: 17px ;
    color: #333 ;
}


@keyframes color-translate{
    50%{background-color: #500 ;}
    100%{background-color: #333 ;}
    
}
@media screen and (max-width: 1125px){
    
    #zone_text{
        position: absolute ;
        left: 3% ;
        right: 3% ;
        width: auto ;
        top: 45% ;
        bottom: auto ;
        
    }
    
    #image{
        position: absolute ;
        left: 25% ;
        right: 25% ;
        width: auto ;
        height: 30% ;
        top: 10% ;
        
        border: solid #333 ;
        
    }
    
    div h2{
        position: relative ;

        font-size: 40px ;
        line-height: 55px ;
        
        border: solid #333 ;
    }
    
    div p{
        position: relative ;
        margin-bottom: 7% ;
        margin-top: 4% ;
        width: 90% ;

        font-size: 15px ;
        line-height: 24px ;
        
        border: solid #333 ;
        
    }

    div a{
        display: block ;
        top: 11px ;
        width: 130px ;
        height: auto ;
        margin-left: auto ;
        margin-right: auto ;
        text-align: center ;
        padding: 22px 28px ;

        
        font-size: 13px ;
        line-height: normal ;
        
        
    }
}